<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
        
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" href="favicon.ico">

    <title>{% block title %}{% endblock %}</title>
    
    {% block stylesheets %}{% endblock %}
    {% block style %}{% endblock %}
  </head>
  <body{% block bodyClass %}{% endblock %}>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

  </body>
</html>
