<ul>
  <li onclick="js.setMapView(49.7248, 13.3521, 17)">Kampus ZČU</li>
  <li onclick="js.setMapView(49.7367263, 13.3709177, 18)">FPE &ndash; Fakulta pedagogická</li>
  <li onclick="js.setMapView(49.7474950, 13.3748308, 18)">FPR &ndash; Fakulta právnická</li>
  <li onclick="js.setMapView(49.7450169, 13.3702668, 18)">FZS &ndash; Fakulta zdravotnických studií</li>
  <li onclick="js.setMapView(50.0762590, 12.3640213, 17)">FEK &ndash; pracoviště Cheb</li>
  <li onclick="js.setMapView(49.7236785, 13.3353118, 18)">NTC &ndash; výzkumné centrum</li>
  <li onclick="js.setMapView(49.9590236, 13.1597114, 18)">Zámek ZČU &ndash; Nečtiny</li>
  <li onclick="js.setMapView(49.7345564, 13.3585038, 18)">Koleje Borská</li>
  <li onclick="js.setMapView(49.7250373, 13.3696772, 18)">Koleje Bory</li>
  <li onclick="js.setMapView(49.7600000, 13.3723463, 18)">Koleje Lochotín</li>
  <li onclick="js.setMapView(49.7293726, 13.3589237, 15)">Oblast s&nbsp;koloběžkami</li>
</ul>   